.nav-scroller.bg-body.shadow-sm
    nav.nav.nav-underline(aria-label="Secondary navigation")
        a.nav-link.active(aria-current="page" href="#") Dashboard
        a.nav-link(href="#") Friends
            span.badge.bg-light.text-dark.rounded-pill.align-text-bottom 27
        a.nav-link(href="#") Explore
        a.nav-link(href="#") Suggestions
        a.nav-link(href="#") Link
        a.nav-link(href="#") Link
        a.nav-link(href="#") Link
        a.nav-link(href="#") Link
        a.nav-link(href="#") Link
