doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block nav
      include nav
    block content
    block flash 
      if messages
        .alert.alert-success
          each message in messages 
            p= message
      if errors
        .alert.alert-error
          each error in errors 
            p= error