doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block nav
      include nav
    block content
    block flash 
      if messages
        .position-absolute.bottom-0.start-0
          each message in messages
            .alert= message