extends layout

block content
  main.container
    h1 Ny film 

    form.form(action="/movies", method="post") 
      .mb-3
        label.form-label(for="title") Filmens titel:  
        input.form-control(type="text", name="title" id="title")
      .mb-3
        label.form-label(for="tagline") Filmens tagline:  
        input.form-control(type="text", name="tagline" id="tagline")
      .mb-3
        label.form-label(for="director") Regissör 
        input.form-control(type="text" name="director" id="director")
      .mb-3
        label.form-label(for="year") Året filmen släpptes:  
        input.form-control(type="text", name="year" id="year")
      .mb-3
        label.form-label(for="imdb_score") IMDB poäng:  
        input.form-control(type="text", name="imdb_score" id="imdb_score")
      input.btn.btn-primary(type="submit", value="Skapa film")