extends layout

block content
  main.container
    h1= movie.title
    nav 
      ul.nav 
        li 
          a(href="/movies/" + movie.id + "/update") Redigera filmen 
        li 
          a(href="/movies/" + movie.id + "/delete") ta bort filmen

    h2 infos
    p= movie.tagline